<style>
* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #555;
}

</style>

<nav>
    <ul>
        <li><a href="/company.home">HOME</a></li>
        <li><a href="/company.post">POST</a></li>
        <li><a href="/company.profile">PROFILE</a></li>
    </ul>
</nav>