<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/form.css')}}">
    <title>Title</title>
</head>
<body>

    {% include 'partiels/company_nav.html' %}
    <main>
        {% for post in posts %}
            <div class="content">
                <div class="text-content">
                    <h1>{{ post.name }}</h1>
                    <p>{{ post.description }}</p><br><br>
                    <div class="align">
                        <a href="/company.post/info.post/{{ post.id }}" class="edit-link"><button>edit</button></a>
                        <a href="#" onclick="confirmDelete('/company.post/delete.post/{{ post.id }}'); return false;" class="delete-link"><button>delete</button></a>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </main>
<script>
    function confirmDelete(url) {
        if (confirm("Êtes-vous sûr de vouloir supprimer ce post ?")) {
            window.location.href = url;
        }
    }
</script>

</body>
</html>
