<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <script src="{{ url_for('static', filename='js/flash.js') }}" defer></script>
</head>
<body>

    {% include 'partiels/company_nav.html' %}

    <main>
        {% include 'partiels/_alert_message.html' %}
        <div class="user-info">
            <br><br>
            <h1>{{ company.name }}</h1>
            <br><br>
        </div>

        <hr>

        <div class="log">
            <div class="align">
                <button class="log_btn" type="button" onclick="openLogoutPopup()">Logout</button>
                <button class="log_btn" type="button" onclick="openDeletePopup()">Delete account</button>
            </div>
            <br><br><br>

            <div id="LogoutPopup" class="popup">
                <p>Logout?</p>
                <form action="{{ url_for('company_logout') }}" method="post" style="display:inline;">
                    <button class="log_btn" type="submit">Logout</button>
                    <button class="log_btn" type="button" onclick="closeLogoutPopup()">Cancel</button>
                </form>
            </div>
            <div id="DeletePopup" class="popup">
                <p>Delete account?</p>
                <form action="{{ url_for('company_delete') }}" method="post" style="display:inline;">
                    <button class="log_btn" type="submit">Delete account</button>
                    <button class="log_btn" type="button" onclick="closeDeletePopup()">Cancel</button>
                </form>
            </div>

            <div id="popup-overlay" class="popup-overlay"></div>
            <script>
                function openLogoutPopup() {
                    document.getElementById('LogoutPopup').classList.add('show');
                    document.getElementById('popup-overlay').classList.add('show');
                }

                function closeLogoutPopup() {
                    document.getElementById('LogoutPopup').classList.remove('show');
                    document.getElementById('popup-overlay').classList.remove('show');
                }

                function openDeletePopup() {
                    document.getElementById('DeletePopup').classList.add('show');
                    document.getElementById('popup-overlay').classList.add('show');
                }

                function closeDeletePopup() {
                    document.getElementById('DeletePopup').classList.remove('show');
                    document.getElementById('popup-overlay').classList.remove('show');
                }
            </script>
        </div>

        <hr>
        <br><br>

        <div class="connection">
            <div class="title">Update Company's name</div>
            <form action="/company.profile" method="post">
                <div class="input-group">
                    <input type="text" name="name" value="{{ company.name }}">
                    <label>Name</label>
                </div>
                <input class="submit-btn" type="submit" value="Update">
            </form>
        </div>

        <div class="connection">
            <div class="title">Update Email</div>
            <form action="/company.profile" method="post">
                <div class="input-group">
                    <input type="email" name="company_mail" value="{{ company.email }}">
                    <label>E-mail</label>
                </div>
                <input class="submit-btn" type="submit" value="Update">
            </form>
        </div>

        <div class="connection">
            <div class="title">Update Password</div>
            <form action="/company.profile" method="post">
                <div class="input-group">
                    <input type="password" name="password">
                    <label>Password</label>
                </div>

                <div class="input-group">
                    <input type="password" name="confirm_password">
                    <label>Confirm Password</label>
                </div>
                <input class="submit-btn" type="submit" value="Update">
            </form>
        </div>

        <div class="connection">
            <div class="title">Update Locality</div>
            <form action="/company.profile" method="post">
                <div class="input-group">
                    <input type="text" id="locality" name="locality" list="suggestions" value="{{ company.locality }}" required>
                    <label for="locality">Locality:</label>
                    <datalist id="suggestions"></datalist>
                </div>
                <input class="submit-btn" type="submit" value="Update">
            </form>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>
</html>