<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
</head>
<body>

    <h1>WELCOME</h1>
    <div class = 'div-index'>
        <div class="div-section">
            <a href="/company.login">
                <section class="section">
                    <p>Continue as a business</p>
                </section>
            </a>
        </div>

        <div class="div-section">
            <a href="/user.login">
                <section class="section">
                    <p>Continue as a single user</p>
                </section>
            </a>
        </div>

    </div>
</body>
</html>