<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register user</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/form1.css')}}">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <h1>REGISTER</h1>
    <a href="/">Home</a>
<form action="/user.register" method="post">
    <label>Username</label>
    <input type="text" name="username">
    <label>E-mail</label>
    <input type="email" name="user_mail">
    <label>Password</label>
    <input type="password" name="password">
    <label>Confirm Password</label>
    <input type="password" name="confirm_password">
    <a href="/user.login">Have account?</a>
    <input type="submit" value="Submit">
</form>

</body>
</html>
