<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
</head>
<body>
    {% include 'partiels/user_nav.html' %}
    {% include 'partiels/_alert_message.html' %}

    <main>
        {% for business in businesses %}
            <div class="content">
                <div class="text-content">
                    <h1>{{ business.company.name }}</h1>
                    <h3>{{ business.name }}</h3>
                    <p>{{ business.description }}</p><br>
                    <a href="/user.info/{{ business.company.name }}/{{ business.name }}"><button>More information</button></a>
                </div>
            </div>
            <hr><br>
        {% endfor %}
    </main>

</body>
</html>
