<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>
    {% include 'partiels/user_nav.html' %}
    <main>
        <div class="content">
            <div class="text-content">
                <h1>{{ business.company.name }}</h1>
                <h3>{{ business.name }}</h3>
                <p>{{ business.description }}</p><br>
                <a href="/user.company_info/{{ business.company.name }}"><button>view company</button></a>
            </div>
        </div>
    </main>

</body>
</html>
