<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/flash.js') }}" defer></script>
    <title>Formulaire</title>

</head>
<body>
    {% include 'partiels/user_nav.html' %}

    <main>
        {% include 'partiels/_alert_message.html' %}
        <div class="connection">
            <div class="title">SEARCH</div>

            <form id="userLocationForm" action="/user.filter.business" method="post">

                <div class="input-group">
                    <input type="text" name="locality" id="locality" list="suggestions">
                    <label for="locality">Locality</label>
                    <datalist id="suggestions"></datalist>
                </div>

                <label>Sélectionnez les catégories :</label><br><br>

                <div class="input-group">
                    <input type="checkbox" id="category_hotel" name="categories" value="hotel">
                    <label for="category_hotel">Hôtel</label>
                </div>

                <div class="input-group">
                    <input type="checkbox" id="category_bar" name="categories" value="bar">
                    <label for="category_bar">Bar</label>
                </div>

                <div class="input-group">
                    <input type="checkbox" id="category_sale" name="categories" value="trade">
                    <label for="category_sale">Commerce</label>
                </div>

                <div class="input-group">
                    <input type="checkbox" id="category_cafe" name="categories" value="cafe">
                    <label for="category_cafe">Cyber Café</label>
                </div>

                <div class="input-group">
                    <input type="checkbox" id="category_informatics" name="categories" value="informatics">
                    <label for="category_informatics">Compagnie Informatique</label>
                </div>

                <div class="input-group">
                    <input type="checkbox" id="category_carpenter" name="categories" value="carpenter">
                    <label for="category_carpenter">Menuserie</label>
                </div>

                <div class="input-group">
                    <input type="checkbox" id="category_restaurant" name="categories" value="restaurant">
                    <label for="category_restaurant">Restaurant</label>
                </div>

                <input class="submit-btn" type="submit" value="Submit">
            </form>
        </div>
    </main>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>
</html>
